
.gallery{
    .images{
        position: relative;
        display: flex;
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
        scroll-behavior: smooth;

        scrollbar-color: transparent transparent;
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background-color: transparent;
        }

        .container{
            width: 100%;
            flex-shrink: 0;
            scroll-snap-align: start;
            input{
                width: 100%;
                position: absolute;
                top: 0;
                transition: 2s;
                z-index: -1;
            } 
        }
        img{
            display: block;
            width: 100%;
        }
    }
    .controls{
        @include flex-row;
        justify-content: center;
        opacity: 0;
        transition: opacity 1s;
        label{
            cursor: pointer;
            margin: .3em;
            transition: 2s;
            background-color: var(--font-color);
            width: .8em;
            height: .8em;
            border-radius: .8em;
        }
    }
    &:hover .controls{
        opacity: 1;
    }
}
