:root{
    --background-color: #A5C8C4;
    --font-color: #151B1A;
    --highlights: #DA4B2D;
    --image-overlay: rgba(0, 0, 0, .7);
    --font-overlay: #eee;
    --scroll-track: #A5C8C4;
    --scroll-thumb: #69918b;
    --font-style: 'Nunito', sans-serif;
    --theme-toggle-size: calc(5em + 10vw);
}

[data-theme="dark"]{
    --background-color: #292626;
    --font-color: #76A49F;
    --titles: #ADCDD6;
    --highlights: #A88C8A;
    --scroll-track: #292626;
    --scroll-thumb: #69918b;
}

@mixin flex-row{
    display: flex;
    flex-direction: row;
}

@mixin flex-column{
    display: flex;
    flex-direction: column;
}

@mixin centered-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}